@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
.App {
  text-align: center;
  padding: 0;

  margin: 0;
  font-family: 'Overpass' !important;
  background: #f2f2f2;
}

html,
body {
  scroll-behavior: smooth;
  background: #f2f2f2;
  font-family: 'Overpass' !important;
}
/* .highcharts-pie-series .highcharts-point {
  stroke: #f2f2f2;
  stroke-width: 2px;
} */
.highcharts-pie-series .highcharts-data-label-connector {
  stroke: silver;
  stroke-dasharray: 2, 2;
  stroke-width: 2px;
}

small {
  text-align: justify;
}
